#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #606C38;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #FEFAE0;
}
header{
    background-color: #FEFAE0;
}
nav a:hover{
    background-color: #FEFAE0;
    color: #606C38;
}
.book, .join{
    background-color: #FEFAE0;
    color: #606C38;
    text-decoration: none;
}
.book:hover, .join:hover{
    background-color: #FEFAE0;
    color: #606C38;
}
#background{
    background-color: #DDA15E;
}
.msg{
    background-color: #FEFAE0;
}
footer{
    background-color: #FEFAE0;
}
.home-title {
    color: #606C38;
}
h4 {
    color: #606C38;
}
.msg h2 {
    color: #606C38;
}
.msg p {
    color: #606C38;
}
footer h3 {
    color: #606C38;
}
footer a {
    color: #606C38;
    text-decoration: none;
}
footer a:hover {
    color: #606C38;
}
.logo, .icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer h3 a:hover {
    text-decoration: underline;
}