
/* css for wwrindex */


@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Righteous&display=swap');

:root {
    --primary-color: #283618   ;
    --secondary-color: #606C38 ;
    --accent1-color: #FEFAE0;
    --accent2-color: #DDA15E;
  
    --heading-font: "Righteous", Helvetica, sans-serif;
    --paragraph-font: "Merriweather", Helvetica, sans-serif;
  
    --headline-color-on-white: #283618;  /* headlines on a white background */ 
    --headline-color-on-color: #FEFAE0; /* headlines on a colored background */ 
    --paragraph-color-on-white: #606C38; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #396E94  ;
    --nav-link-color: #FEFAE0;
    --nav-background-color: #283618;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #606C38;
  }
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #606C38;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #FEFAE0;
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: #FEFAE0;
}
nav a:hover{
    background-color: #FEFAE0;
    color: #606C38;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}
.book, .join{
    background-color: #FEFAE0;
    color: #606C38;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #FEFAE0;
    color: #606C38;
}
#background{
    background-color: #DDA15E;
}
.msg{
    background-color: #FEFAE0;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: #FEFAE0;
    padding: 25px 50px;
}
.home-title {
    color: #606C38;
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: #606C38;
}
h2 {
    margin: 0;
}
.msg h2 {
    color: #606C38;
}
.msg p {
    color: #606C38;
    font-size: .8em;
    padding-bottom: 15px;
}
footer h3 {
    color: #606C38;
}
footer a {
    color: #606C38;
    text-decoration: none;
}
footer a:hover {
    color: #606C38;
}
.logo, .icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer h3 a:hover {
    text-decoration: underline;
}
#logo_link {
    padding-top: 5px;
}
.icon {
    padding-top: 10px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 100px #606C38;
}