
/* css */

body {
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.card {
    background-color: rgba(255, 255, 255, 0.99);
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 60px 100px 200px 80px 100px 60px;
    float: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    margin-top: 100px;
    grid-column: 1/4;
    border-radius: 20px;
}
.logo {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100px;
    margin-top: 15px;
    margin-left: 25px;
}
.mobile {
    grid-column: 1/2;
    grid-row: 1/2;
}
.destination {
    background-color: rgb(37, 37, 102);
    float: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.flight {
    background-color: lightgray;
    width: 100%;
}
.barcode {
    grid-row: 5/7;
    margin-left: 60px;
    margin-top: 20px;
    display: grid;
    grid-column: 1/4;
    grid-row: 5/6;
}
.denver {
    color: white;
    grid-row: 2/4;
    grid-column: 1/2;
}
.airplane {
    grid-row: 2/3;
    grid-column: 2/3;
}
.boston {
    color: white;
    grid-column: 3/4;
    grid-row: 2/3;
}
.Date {
    grid-column: 1/2;
    grid-row: 3/4;
}
.blue {
    background-color: rgb(20, 20, 55);
    grid-column:1/4;
    grid-row:2/3;
    width: 100%;
    height: 150px;
}
.thank {
    grid-column: 1/4;
    grid-row: 6/7;
    margin: 0 auto;
}