
/* css */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Oleo+Script+Swash+Caps:wght@400;700&family=Righteous&display=swap');

body {
    background-color: rgb(30, 30, 30);
    color: rgb(26, 9, 9);
}

.main_grid {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 200px 30px 50px 220px 100px;
    /* grid-column: ; */
    /* grid-row: ; */
    margin: 0 auto;
    border-radius: 15px;
}
img {
    width: 100%;
    height: 100%;
    grid-column: 1/4;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.background1 {
    background-color: whitesmoke;
    grid-column: 1/4;
    grid-row: 2/5;
    z-index: -1;
}
.background2 {
    background-color: rgb(65, 65, 130);
    grid-column: 1/4;
    grid-row: 5/6;
    z-index: -1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.weeks {
    grid-column: 1/4;
    grid-row: 2/3;
    justify-self: center;
    text-align: center;
    color: rgb(65, 65, 130);
    font-family: 'merriweather';
}
h1 {
    grid-column: 1/4;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-family: 'merriweather';
}
.paragraph {
    overflow: auto;
    grid-column: 1/4;
    grid-row: 4/5;
    justify-self: center;
    text-align: center;
    margin: 10px 50px;
    font-size: 1em;
    font-family: 'merriweather';
    color: rgb(116, 116, 116);
}
.read {
    grid-column: 1/2;
    grid-row: 5/6;
}
.views {
    grid-column: 2/3;
    grid-row: 5/6;
}
.comments {
    grid-column: 3/4;
    grid-row: 5/6;
}
.read, .views, .comments {
    color: white;
    justify-self: center;
    text-align: center;
}
.bigger
{
    font-size: 1.75em;
}