
.welcome {
    font-size: 2em;
}
.about {
    margin: 20px 50px;
}
.hello {
    background-color: blue;
    text-align: center;
    color: white;
    font-size: 3em;
}
img {
    float: right;
    width: 350px;
    padding: 15px;
}
.pancakes {
    color: orange;
}
.section {
    color: purple;
    margin: 50px;
    background-color: lightgray;
    border: solid 2px black;
    border-radius: 5px;
    
}


