@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Oleo+Script+Swash+Caps:wght@400;700&family=Righteous&family=Varela+Round&display=swap');

body {
    display: grid;
    grid-template-rows: 60px 4fr 40px;
    contain: content;
    border: 2px solid rgb(180, 180, 180);
    width: 450px;
    font-family: 'Varela Round', sans-serif;
    color: rgb(79, 79, 79);
}
#profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px;
    justify-items: center;
    align-items: center;
}
.profile {
    border-radius: 30px;
}

#user {
    font-weight: bolder;
    margin: 0 auto;
    font-size: 14px;
    grid-column: 2/3;
    color: rgb(49, 49, 49);
    
}
#minute {
    color: rgb(176, 176, 176);
    font-size: 13px;
    grid-column: 5/6;
    font-weight: bolder;
}
.bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 40px;
    justify-items: center;
    align-items: center;
}
i {
    font-size: 20px;
}
.fa-solid fa-ellipsis-vertical{
    grid-column: 5/6;
    justify-self: center;
    
}
#likes {
    grid-column: 6/7;
}
#heart{
    grid-column:7/8;
}
.scene {
    width: 100%;
}