body {
    background-color: purple;
}
h1 {
    color: whitesmoke;
    background-color: limegreen;
    padding: .3em 1.5em;
    font-size: 3em;
    border: 3px solid orange;
    margin: 15px auto;
    width: 1000px
}
h2 {
    color: pink;
    background-color: brown;
    width: 1000px;  
    margin: 15px auto;
    padding: .3em 1.5em;

}
p {
    width: 700px;
    margin:0 auto;
    color: aliceblue;
}
.thinner {
    width: 500px;
    line-height: 1.5em;
}
#myname {
    font-size: 3em;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: 400;
}