body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
img {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
    position: relative;
}
h1 {
    grid-column: 1/3;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large; 
    position: absolute;
    top: 30px;
    left: 180px;
    font-size: 12em;
    letter-spacing: .1em;
}
h2 {
    position: absolute;
    bottom: 75px;
    right: 150px;
    color: rgb(156, 0, 0);
    font-size: 6em;
    letter-spacing: .1em;
    
}
div {
    background-color: rgba(211, 211, 211, 0.674);
    grid-column: 2/3;
    grid-row: 1/3;
}