
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Fira+Sans&display=swap');


:root {
    --primary-color: #FAA916   ;
    --secondary-color: #96031A ;
    --accent1-color: #6D676E;
    --accent2-color: #1B1B1E;
  
    --heading-font: 'Antic Slab', serif;
    --paragraph-font: 'Fira Sans', sans-serif;
  
    --headline-color-on-white: white; 
    --headline-color-on-color: white;  
    --paragraph-color-on-white: #1B1B1E;  
    --paragraph-color-on-color: white;  
    --paragraph-background-color: #6D676E  ;
    --nav-link-color: #FAA916;
    --nav-background-color: #96031A;
    --nav-hover-link-color: #96031A;
    --nav-hover-background-color: #FAA916;
  }


nav a {
    text-align: center;
    color: #1B1B1E;
    text-decoration: none;
    padding: 35px;
}
body {
    max-width: 1800px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
    background-color: #fcf9f4;
}
img {
    display: block;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}
header{
    background-color: #FAA916;
    display: grid;
    grid-template-columns: 150px auto 600px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 10px #6f7364;

}
nav a:hover{
    background-color: #96031A;
    color: #FAA916;
}
.logo{
    width: 80px;
    border-radius: 80%;
}



footer{
    background-color: #FAA916;
    display: grid;
    grid-template-columns: 600px 1fr 1fr 70px 70px 70px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 10px #6f7364;

}
.social{
    width: 70px;
}




.home-image1{
    width: 1200px;
    filter: brightness(70%);
    box-shadow: 5px 5px 10px #6f7364;
    margin: 20px auto;

}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.home-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: xx-large;
}

.home-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    width: 1200px;
    margin: 20px auto;
    background-color: #fcefd6;
    box-shadow: 5px 5px 10px #6f7364;

}
.home-p1, .home-p2, .home-p3, .home-p4{
    margin: 10px 50px;
}

.home-p1{
    grid-column: 1/3;
}
.home-p3{
    grid-column: 1/3;
}
.home-p4{
    grid-column: 1/3;
    margin: 0 200px;
}
.home-image2{
    width: 300px;
    box-shadow: 5px 5px 10px #6f7364;

}













form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    font: 1em sans-serif;
  
    width: 300px;
    box-sizing: border-box;
  
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
  
    height: 5em;
  }
  
  .button {
    padding-left: 90px; 
  }
  
  button {
    margin-left: .5em;
  } 


